### Importing pandas and other necessary libraries

In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split as tt
from sklearn.preprocessing import StandardScaler

### Loading the clean StudentPerformance DataFile

In [2]:
df=pd.read_csv('StudentsPerformance_clean.csv')

In [3]:
df.head()

,Unnamed: 0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,race/ethnicity_mapped,...,test preparation course_mapped,gender_mapped,total_score,pass/fail,grade,math_pass/fail,reading_pass/fail,writing_pass/fail,pass/fail_mapped,grade_mapped
0,0,female,group B,bachelor's degree,standard,none,72,72,74,2,...,0,1,218,Pass,First,1,1,1,1,2
1,1,female,group C,some college,standard,completed,69,90,88,3,...,1,1,247,Pass,Distinction,1,1,1,1,3
2,2,female,group B,master's degree,standard,none,90,95,93,2,...,0,1,278,Pass,Distinction,1,1,1,1,3
3,3,male,group A,associate's degree,free/reduced,none,47,57,44,1,...,0,2,148,Pass,Second,1,1,1,1,1
4,4,male,group C,some college,standard,none,76,78,75,3,...,0,2,229,Pass,First,1,1,1,1,2

In [4]:
df.columns

Index(['Unnamed: 0', 'gender', 'race/ethnicity', 'parental level of education',
       'lunch', 'test preparation course', 'math score', 'reading score',
       'writing score', 'race/ethnicity_mapped',
       'parental level of education_mapped', 'lunch_mapped',
       'test preparation course_mapped', 'gender_mapped', 'total_score',
       'pass/fail', 'grade', 'math_pass/fail', 'reading_pass/fail',
       'writing_pass/fail', 'pass/fail_mapped', 'grade_mapped'],
      dtype='object')

In [5]:
#features
x=df[['gender_mapped','race/ethnicity_mapped','parental level of education_mapped','lunch_mapped', 'test preparation course_mapped','math score','reading score','writing score']]

#target 
y=df['grade_mapped']

### Creating Scaler Model

In [6]:
scaler=StandardScaler()

In [7]:
transformedx =scaler.fit_transform(x)

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [8]:
X_train, X_test,y_train,y_test=tt(transformedx,y,test_size=0.20,random_state=40)

### Creating Model of KNN

In [9]:
neigh = KNeighborsClassifier(n_neighbors=2)

In [10]:
neigh.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=2, p=2,
           weights='uniform')

In [11]:
neigh.score(X_test,y_test)

0.8

In [12]:
pred=neigh.predict(X_test)
pred

array([1, 1, 3, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 1, 2, 2, 1, 2, 2, 2, 2,
       2, 3, 1, 0, 1, 3, 2, 2, 1, 2, 0, 2, 2, 2, 1, 2, 1, 2, 1, 2, 0, 1,
       2, 2, 2, 0, 2, 1, 2, 3, 2, 1, 1, 1, 2, 0, 2, 1, 2, 1, 3, 3, 2, 1,
       1, 2, 1, 1, 3, 2, 2, 1, 3, 2, 2, 2, 3, 2, 2, 1, 2, 3, 1, 2, 1, 3,
       3, 0, 1, 3, 1, 2, 1, 2, 2, 3, 2, 3, 2, 3, 2, 2, 1, 2, 2, 2, 2, 2,
       2, 1, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 2, 1, 3, 1, 2, 3, 3,
       2, 2, 2, 1, 2, 1, 1, 2, 2, 0, 2, 2, 2, 1, 2, 3, 2, 2, 3, 2, 2, 2,
       1, 3, 3, 2, 3, 2, 3, 2, 3, 2, 0, 2, 2, 2, 2, 2, 1, 3, 1, 2, 2, 1,
       2, 2, 1, 3, 2, 2, 2, 0, 2, 1, 3, 2, 0, 1, 2, 2, 2, 2, 2, 1, 2, 2,
       1, 0], dtype=int64)