## Data Assignment

### Importing pandas and numpy

In [1]:
import pandas as pd
import numpy as np

### Loading the StudentPerformance DataFile

In [2]:
datafile="StudentsPerformance.csv"
df=pd.read_csv(datafile)

In [3]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

### Checking for null value in DataFile

In [4]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

### Basic information of the data, like min, max, mean and standard deviation etc.

In [5]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

### Checking the unique values of race/ethnicity column

In [6]:
df['race/ethnicity'].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

### Mapping the race/ethnicity column

In [7]:
race={'group B':2, 'group C':3, 'group A':1, 'group D':4, 'group E':5}
df['race/ethnicity_mapped']=df['race/ethnicity'].map(race)

In [8]:
df['race/ethnicity_mapped'].head()

0    2
1    3
2    2
3    1
4    3
Name: race/ethnicity_mapped, dtype: int64

### Checking the unique values of parental level of education column

In [9]:
df['parental level of education'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

### Mapping the parental level of education column

In [10]:
education_level={"bachelor's degree":5, 'some college':4, "master's degree":6,
       "associate's degree":3, 'high school':2, 'some high school':1}
df['parental level of education_mapped']=df['parental level of education'].map(education_level)

In [11]:
df['parental level of education_mapped'].head()

0    5
1    4
2    6
3    3
4    4
Name: parental level of education_mapped, dtype: int64

### Checking the unique values of lunch column

In [12]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

### Mapping the lunch column

In [13]:
lunch={'standard':1, 'free/reduced':0}
df['lunch_mapped']=df['lunch'].map(lunch)

In [14]:
df['lunch_mapped'].head()

0    1
1    1
2    1
3    0
4    1
Name: lunch_mapped, dtype: int64

### Checking the unique values of test preparation course column

In [15]:
df['test preparation course'].unique()

array(['none', 'completed'], dtype=object)

### Mapping the test preparation course column

In [16]:
test_course={'none':0, 'completed':1}
df['test preparation course_mapped']=df['test preparation course'].map(test_course)

### Checking the unique values of gender column

In [17]:
df['gender'].unique()

array(['female', 'male'], dtype=object)

### Mapping the gender column

In [18]:
gender={'female':1, 'male':2}
df['gender_mapped']=df['gender'].map(gender)
df['gender_mapped'].head()

0    1
1    1
2    1
3    2
4    2
Name: gender_mapped, dtype: int64

### Making new column for total score

In [19]:
df['total_score']=df['reading score']+df['writing score']+df['math score']

### Making new column to see passed and failed students in all subjects

In [20]:
df['pass/fail']=np.where((df['math score']<40) | (df['reading score']<40) | (df['writing score']<40), 'Fail', 'Pass')

### Making new column to give grades to sudents

Greater than 80 --> Distinction    
79-60 --> First Division    
59-40 -->Second Division      
less than40 --> Fail

In [21]:
df['grade']=np.where(((((df['math score']+df['reading score']+df['writing score'])/300)*100)>=80), 'Distinction',(np.where(((((df['math score']+df['reading score']+df['writing score'])/300)*100)>=60), 'First', (np.where((df['math score']<40) | (df['reading score']<40) | (df['writing score']<40), 'Fail','Second')))))

### Identifying students passed and failed in each subjects

#### 1 represents pass and 0 represents fail

In [22]:
df['math_pass/fail']=np.where(df['math score']<40,0,1)

In [23]:
df['reading_pass/fail']=np.where(df['reading score']<40,0,1)

In [24]:
df['writing_pass/fail']=np.where(df['writing score']<40,0,1)

In [25]:
df[['math_pass/fail','reading_pass/fail','writing_pass/fail']].head(10)

   math_pass/fail  reading_pass/fail  writing_pass/fail
0               1                  1                  1
1               1                  1                  1
2               1                  1                  1
3               1                  1                  1
4               1                  1                  1
5               1                  1                  1
6               1                  1                  1
7               1                  1                  0
8               1                  1                  1
9               0                  1                  1

### Checking whether new columns have been added or not

In [26]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score', 'race/ethnicity_mapped',
       'parental level of education_mapped', 'lunch_mapped',
       'test preparation course_mapped', 'gender_mapped', 'total_score',
       'pass/fail', 'grade', 'math_pass/fail', 'reading_pass/fail',
       'writing_pass/fail'],
      dtype='object')

### Checking the unique values of pass/fail column

In [27]:
df['pass/fail'].unique()

array(['Pass', 'Fail'], dtype=object)

### Mapping pass/fail column

In [28]:
passorfail={'Pass':1, 'Fail':0}
df['pass/fail_mapped']=df['pass/fail'].map(passorfail)

In [29]:
df['pass/fail_mapped'].head()

0    1
1    1
2    1
3    1
4    1
Name: pass/fail_mapped, dtype: int64

### Checking the unique values of grade column

In [30]:
df['grade'].unique()

array(['First', 'Distinction', 'Second', 'Fail'], dtype=object)

### Mapping grade column

In [31]:
grade={'First':2, 'Distinction':3, 'Second':1, 'Fail':0}
df['grade_mapped']=df['grade'].map(grade)

In [32]:
df['grade_mapped'].head()

0    2
1    3
2    3
3    1
4    2
Name: grade_mapped, dtype: int64

### Saving the clean DataFile

In [33]:
df.to_csv('StudentsPerformance_clean.csv')

In [34]:
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,race/ethnicity_mapped,parental level of education_mapped,...,test preparation course_mapped,gender_mapped,total_score,pass/fail,grade,math_pass/fail,reading_pass/fail,writing_pass/fail,pass/fail_mapped,grade_mapped
0,female,group B,bachelor's degree,standard,none,72,72,74,2,5,...,0,1,218,Pass,First,1,1,1,1,2
1,female,group C,some college,standard,completed,69,90,88,3,4,...,1,1,247,Pass,Distinction,1,1,1,1,3
2,female,group B,master's degree,standard,none,90,95,93,2,6,...,0,1,278,Pass,Distinction,1,1,1,1,3
3,male,group A,associate's degree,free/reduced,none,47,57,44,1,3,...,0,2,148,Pass,Second,1,1,1,1,1
4,male,group C,some college,standard,none,76,78,75,3,4,...,0,2,229,Pass,First,1,1,1,1,2
5,female,group B,associate's degree,standard,none,71,83,78,2,3,...,0,1,232,Pass,First,1,1,1,1,2
6,female,group B,some college,standard,completed,88,95,92,2,4,...,1,1,275,Pass,Distinction,1,1,1,1,3
7,male,group B,some college,free/reduced,none,40,43,39,2,4,...,0,2,122,Fail,Fail,1,1,0,0,0
8,male,group D,high school,free/reduced,completed,64,64,67,4,2,...,1,2,195,Pass,First,1,1,1,1,2
9,female,group B,high school,free/reduced,none,38,60,50,2,2,...,0,1,148,Fail,Fail,0,1,1,0,0